/*centralizando jogo*/
body {
    text-align: center;
}


/*quadrados na bandeja do jogo*/
.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 68px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

/* usando a mesma linha de comando para n classes com a mesma propriedade*/
.jogador, .vencedor {
    font-size: 38px;
    margin-top: 18px;
}

button {
    margin-top: 18px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

